@import url('https://fonts.cdnfonts.com/css/config-ultra');
* {
    margin: 0;
    padding: 0;
}

header {
    background-color: #FC1068;
    padding: 10px;
    color: white;
    align-items: center;
    width: 100%;
    min-height: 50px;
}

h1 {
    text-align: center;
    font-family: 'Config Ultra', sans-serif;
}

body {
    background-color: #1F0441;
    color: #1F0441;
    margin: 0;
}

.uno, .dos {
    width: 20vw;
    height: 30vw;
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
    background-color: #0CE3E8;
}

img {
    height: 20vw;
}

ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}