@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Titan+One&display=swap');
* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

header {
    margin: 0;
}

.open-menu {
    display: block;
    border: 0;
    font-size: 1.2rem;
    background-color: transparent;
    cursor: pointer;
    color: white;
}

select {
    margin: 0;
}

.title {
    padding: 7px;
    width: 100vw;
    height: 75px;
    color: white;
    background-color: #FC1068;
    text-align: center;
    font-family: 'Titan One', sans-serif;
    font-size: 20px;
}

.inputs {
    position: absolute;
    display: none;
    flex-direction: column;
    width: 200px;
    background-color: #FCAB10;
    align-content: center;
    font-family: 'Roboto Mono', monospace;
    align-items:flex-end;
    font-size: 14px;
    text-align: right;
    color: #1F0441;
    padding: 7px;
    border-radius: 0 0 10px 0;
    gap: 1rem;
}

body {
    background-color: #1F0441;
    color: #1F0441;
}

.cards {
    width: 260px;
    padding: 15px;
    border-radius: 10px;
    margin: 7px;
    box-sizing: border-box;
    background-color: #0CE3E8;
    text-align: center;
    font-size: 16px;
    font-family: 'Roboto Mono', monospace;
}

img {
    height: 17vw;
    margin-bottom: 15px;
    border-radius: 10px;
}

ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.name-movie {
    font-size: 20px;
    margin-bottom: 3px;
}

.info-movie {
    margin-bottom: 15px;
}

.year-movie {
    font-size: 16px;
    margin-bottom: 10px;
}

#btn {
    margin: 10px;
}

.cards-two {
    background-color: #F9CE07;
    width: 260px;
    padding: 15px;
    border-radius: 10px;
    margin: 7px;
    text-align: center;
    font-size: 16px;
    font-family: 'Roboto Mono', monospace;
}

footer {
    background-color: #FCAB10;
    color:#1F0441;
    width: 100vw;
    text-align: center;
    padding: 5px;
    font-family: 'Titan One', sans-serif;
    position: relative;
    bottom: 0;
    left: 0;
}
